<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer__menu">
        <div class="footer__menu-item">
          <div class="footer__menu-title">Vcash</div>
          <div class="footer__menu-p">
            <a href="https://github.com/vcashorg/vcash" target="_blank">
              Github
            </a>
          </div>
          <div class="footer__menu-p">
            <a href="/about" target="_blank">
              About
            </a>
          </div>
          <div class="footer__menu-p"></div>
        </div>

        <div class="footer__menu-item">
          <div class="footer__menu-title">
            <a href="https://vcash.tech/" target="_blank">
              Explorer
            </a>
          </div>
        </div>

        <div class="footer__menu-item">
          <div class="footer__menu-title">Guides</div>
          <div class="footer__menu-p">
            <a href="https://github.com/vcashorg/vcash/wiki/How-to-run-a-Vcash-node" target="_blank">
              Running A Node
            </a>
          </div>
          <div class="footer__menu-p">
            <a href="https://github.com/vcashorg/vcash/wiki/How-to-use-the-Vcash-wallet" target="_blank" style="    font-family: ArialMT;">
              Using Vcash Wallet
            </a>
          </div>
          <div class="footer__menu-p">
            <a href="https://github.com/vcashorg/vcash/blob/vcash/doc/pool_merge_mining.md" target="_blank">
              Run A Miner
            </a>
          </div>
        </div>

        <div class="footer__menu-item">
          <div class="footer__menu-title">
            Community
          </div>
          <div class="footer__menu-p">
            <a href="https://twitter.com/vcashchain" target="_blank">
              Twitter
            </a>
          </div>
          <div class="footer__menu-p">
            <a href="https://gitter.im/vcash-community" target="_blank">
              Gitter
            </a>
          </div>
          <div class="footer__menu-p">
            <a href="https://t.me/vcashcommunity" target="_blank">
              Telegram
            </a>
          </div>
          <div class="footer__menu-p">
            <a href="https://bitcointalk.org/index.php?topic=5129919.0" target="_blank">
              Bitcointalk
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="footer__license">
      ©Vcash Project 2019 Released
    </div>
  </div>
</footer>
