<div class="site-header">
  <div class="wrapper">
    <a href="/" target="_blank">
      <div class="header-logo"></div>
    </a>

    <div class="menu">
      <a href="/about" target="_blank">
        <div class="menu-item">About</div>
      </a>

      <a href="https://github.com/vcashorg/vcash" target="_blank">
        <div class="menu-item">Releases</div>
      </a>

      <a href="https://vcash.tech/" target="_blank">
        <div class="menu-item">Explorer</div>
      </a>

      <div class="menu-item trigger-ele" data-id="demo">Guides</div>

      <!--<div class="popr" data-id="demo">Click me</div>-->
      <div class="popr-box" data-box-id="demo">
        <div class="footer__menu-p popr-item">
          <a href="https://github.com/vcashorg/vcash/blob/vcash/doc/build.md" target="_blank" style="    font-family: ArialMT;">
            Running A Node
          </a>
        </div>
        <div class="footer__menu-p popr-item">
          <a href="https://github.com/vcashorg/vcash/blob/vcash/doc/pool_merge_mining.md" target="_blank" style="    font-family: ArialMT;">
            Run A Miner
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
