<div class="site-header">
  <div class="wrapper">
    <a href="/" target="_blank">
      <div class="header-logo"></div>
    </a>

    <div class="menu">
      <a href="/about" target="_blank">
        <div class="menu-item">About</div>
      </a>

      <a href="https://github.com/vcashorg/vcash/releases/" target="_blank">
        <div class="menu-item">Releases</div>
      </a>

      <a href="https://vcash.tech/" target="_blank">
        <div class="menu-item">Explorer</div>
      </a>

      <div class="dropdown menu-item">
          <span class="">
            Wallet
            <span class="icon-arrow-down"></span>
          </span>
        <div class="dropdown-content" data-box-id="demo">
          <a href="/wallet" target="_blank" style="font-family: ArialMT;">
            Mobile Wallet App
          </a>
          <a href="https://github.com/vcashorg/vcash-wallet/releases" target="_blank" style="font-family: ArialMT;">
            VCash Wallet
          </a>
        </div>
      </div>

      <div class="dropdown menu-item">
          <span class="">
            Guides
            <span class="icon-arrow-down"></span>
          </span>
        <div class="dropdown-content" data-box-id="demo">
          <a href="https://github.com/vcashorg/vcash/wiki/How-to-run-a-Vcash-node" target="_blank" style="font-family: ArialMT;">
            Running A Node
          </a>
          <a href="https://github.com/vcashorg/vcash/wiki/How-to-use-the-Vcash-wallet" target="_blank" style="font-family: ArialMT;">
            Using VCash Wallet
          </a>
          <a href="https://github.com/vcashorg/vcash/blob/vcash/doc/pool_merge_mining.md" target="_blank" style="font-family: ArialMT;">
            Run A Miner
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
