<!doctype html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>VCash</title>
  <meta name="description" content="VCash is the combined outcome of Bitcoin characteristics integrated with Mimblewimble technology. It inherits Bitcoin’s distribution mechanism and uses Grin's Mimblewimble implementation. ">

  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="/_sass/main.css">
  <link rel="stylesheet" href="/js/popr.css">

  <link rel="shortcut icon" href="/image/vcash.ico">

  <script>
    var phoneWidth = parseInt(window.screen.width);
    var phoneScale = phoneWidth / 1300;

    document.write('<meta name="viewport" content="width=1300, minimum-scale = ' + phoneScale + ', maximum-scale = 1">');
  </script>
</head>
<body>
{{ content }}

{% include footer.html %}

<script src="/js/jquery-3.4.0.min.js"></script>
<script src="/js/popr.min.js"></script>

<script>
  $('.trigger-ele').popr({
    'speed': 200,
    'mode': 'bottom',
  });

</script>

</body>
</html>
